
.virtual-list-card {
    .ant-card {
        border: none;
    }
    .ant-card-body {
        padding: 0px;
        height: 100%;
        .game-card-row {
            height: 100%;
        }
        .game-card-col {
            height: 100%;
        }
        .game-card-img {
            height: 100%;
        }
    }
}