
.dingShare-common-guide {
    .ant-menu.ant-menu-horizontal {
        background-color: transparent;
        border-bottom-color: transparent;
        .ant-menu-item {
            margin: 0 8px;
            a {
                color: #b8b6b4;
                &:hover {
                    color: #ffffff;
                }
            }
        }
        .ant-menu-submenu {
            margin: 0 8px;
            .ant-menu-submenu-title {
                color: #b8b6b4;
                &:hover {
                    color: #ffffff;
                }
            }
        }
        .ant-menu-submenu-active, .ant-menu-item-active, .ant-menu-item-selected, .ant-menu-submenu-selected {
            border-bottom-color: transparent;
            .ant-menu-submenu-title {
                color: #ffffff;
            }
            a {
                color: #ffffff;
            }
        }
    }
}

.dingShare-common-guide-store-menus {
    ul.ant-menu {
        background-color: #171a21;
        min-width: unset;
    }
    .ant-menu-item {
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        margin: 2px 0 4px 0;
        a {
            color: #b8b6b4;
            font-size: 13px;
            &:hover {
                color: #ffffff;
            }
        }
        &.ant-menu-item-selected {
            background-color: transparent;
            a {
                color: #ffffff;
            }
        }
    }
}
.dingShare-common-guide-communications-menus {
    ul.ant-menu {
        background-color: #171a21;
        min-width: unset;
    }
    .ant-menu-item {
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        margin: 3px 0 6px 0;
        a {
            color: #b8b6b4;
            font-size: 13px;
            &:hover {
                color: #ffffff;
            }
        }
        &.ant-menu-item-selected {
            background-color: transparent;
            a {
                color: #ffffff;
            }
        }
    }
}
