// class prototype
.banner-center-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dingshare-homepage-container {
    .dingshare-header.dingshare-homepage-header {
        height: calc(104rem / var(--pxPerRem));
    }
    .dingshare-content {
        .dingshare-normal-background {
            background-color: #1b2838;
        }

        .dingshare-banner {
            height: 450px;
            // fixUI
            background-color: black;

            position: relative;
            .banner-bg {
                @extend .banner-center-container;
                display: block;
            }
            .bg-to-steam-btn {  
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .need-login-container {
            // 提示登录的通栏容器
            width: 100%;
            height: calc(267rem / var(--pxPerRem));
            min-height: 220px;  
            background-color: black;
            position: relative;
            .need-login-tips {
                width: calc(780rem / var(--pxPerRem));
                min-width: 264px;
                height: calc(267rem / var(--pxPerRem));
                min-height: 220px;  
                padding: calc(20rem / var(--pxPerRem)) calc(120rem / var(--pxPerRem)) 0;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                h3, p, p > span {
                    color: white;
                }
                .main-title {
                    padding-top: 6%;
                    font-size: 24px;
                }
                .main-description {
                    font-size: 16px;
                    padding: 10px 0;
                }
                .login-btn {
                    margin: 10px 0;
                }
                .sub-infos {
                    font-size: 16px;
                }
            }
        }
        .dingshare-content-need-auth {
            width: 100%;
            background-color: #1b2838;
            position: relative;
        }
        .dingshare-middle-banner-hot {
            width: 100%;
            height: calc(350rem / var(--pxPerRem));
            position: relative;
            .middle-banner-center-container {
                @extend .banner-center-container;
                width: calc(1600rem / var(--pxPerRem));
                background-color: white;
            }
        }
        
    }
    .dingshare-footer.dingshare-homepage-footer {
        height: calc(156rem / var(--pxPerRem));
    }
}