.dingshare-homepage-container {
    .dingshare-header.dingshare-homepage-header {
        height: calc(104rem / var(--pxPerRem));
    }
    .dingshare-content {
        .dingshare-banner {
            height: 450px;
            background-color: pink;
            position: relative;
            .banner-bg {
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            .bg-to-steam-btn {
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .need-login-container {
            // 提示登录的通栏容器
            width: 100%;
            height: calc(267rem / var(--pxPerRem));
            min-height: 155px;
            background-color: black;
            position: relative;
            .need-login-tips {
                width: calc(780rem / var(--pxPerRem));
                height: calc(267rem / var(--pxPerRem));
                padding: calc(20rem / var(--pxPerRem)) calc(120rem / var(--pxPerRem)) 0;
                min-height: 155px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                h3, p, p > span {
                    color: white;
                }
            }
        }
    }
    .dingshare-footer.dingshare-homepage-footer {
        height: calc(156rem / var(--pxPerRem));
    }
}